.container{
    width: 100%;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    height: 700px;
}
.col-6{
    float: left;
    width: 50%;
}
.margin_b{
    margin-bottom: 7px;
}
.clear{
    clear: both;
}
main{
    background-image: linear-gradient(to bottom right, blue, purple);
    background-size: 100% 100%;

}
h1{
    color: #007BFF;
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.register-form{
    width: 100%;
    max-width: 480px;
    height: 600px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 15px;
    border: 2px solid #cccccc;
    border-radius: 10px;
}

.input-box{
    margin-bottom: 10px;
}
.input-box input[type='text'],
.input-box input[type='password'],
.input-box input[type='date']{
    width: 100%;
    border: 1px solid #cccccc;
    outline: none;
    font-size: 16px;
    display: inline-block;
    height: 38px;
    color: #666666;
}
.input-box select{
    width: 100%;
    border: 1px solid #cccccc;
    outline: none;
    font-size: 16px;
    display: inline-block;
    height: 40px;
    color: #666666;
}
.input-box option{
    font-size: 16px;
}
.input-box input[type='checkbox']{
    height: 1.5em;
    width: 1.5em;
    vertical-align: middle;
    line-height: 2em;
}
.input-box textarea{
    width: 100%;
    border: 1px solid #cccccc;
    outline: none;
    font-size: 20px;
    min-height: 100px;
    color: #666666;
}
.btn-box{
    text-align: center;
    margin-top: 5px;
}
.btn-box button{
    border-radius: 2px;
    background-color: green;
    color: white;
    border: none;
    outline: none;
    font-size: 20px;
    padding: 10px;
}
.fb9 {
    border: 1px solid #3366FF;
    background-color: #B3C6FF;
    width:150px;
    height:30px;
  }
